@import url(https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap);

/* FUNDO */
body {
  margin: 0;
  background: linear-gradient(#87CEEB, #6dbf5f);
  font-family: 'Press Start 2P', cursive;
  padding: 20px;
}

/* TOPO */
.topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* AREA DO USUARIO */
.user-area {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.perfil-box img{
    width: 30px;
}

.perfil-box span {
  position: relative;
  top: -6px;
}

/* PERFIL MENOR */
.user-area .perfil-box {
  margin: 10px;
  padding: 8px;
  font-size: 10px;
}

/* BOTÃO SAIR PEQUENO */
.user-area .btn-sair {
  padding: 8px;
}

/* CAIXA PRINCIPAL */
.dashboard {
  background: #f5deb3;
  border: 6px solid #5c3a21;
  box-shadow: 8px 8px 0 #3b2616;
  padding: 20px;
}

/* TÍTULO */
h1 {
  text-align: center;
  margin-bottom: 20px;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

/* CARDS */
.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.card {
  background: #fff8dc;
  border: 3px solid #5c3a21;
  box-shadow: 4px 4px 0 #3b2616;
  padding: 15px;
}

/* CORES */
.verde { background: #caffbf; }
.azul { background: #a0c4ff; }
.vermelho { background: #ffadad; }
.amarelo { background: #fdffb6; }

/* GRAFICO */
.grafico {
  background: #fff8dc;
  border: 3px solid #5c3a21;
  box-shadow: 4px 4px 0 #3b2616;
  padding: 15px;
}

/* ALERTAS */
.alertas {
  background: #fff8dc;
  border: 3px solid #5c3a21;
  padding: 15px;
  font-size: 13px;
}

.alerta {
  margin-bottom: 10px;
  padding: 10px;
  border: 2px solid #5c3a21;
}

/* TEXTO */
p { font-size: 10px; 
}
h2 { font-size: 14px; 
}

/* LAYOUT */
.layout {
  display: flex;
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  height: 100vh;
  background: #f4f6f9;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* PERFIL */
.perfil-box {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 20px;
}

/* MENU */
.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 8px;
  cursor: pointer;
}

.sidebar li:hover {
  background: #e0e4ea;
}

/* ATIVO */
.ativo {
  background: #dfe4ff;
  border-left: 4px solid #5c6bc0;
}

/* BOTÃO SAIR */
.btn-sair {
  background: #ff4d4d;
  color: white;
  border: none;
  font-size: 15px;
  padding: 15px;
  border-radius: 8px;
  cursor: url('../public/images/cursor-botao.png'), auto;
  font-family: 'Press Start 2P', cursive;
}